.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  z-index: 1000;
  color: #212529;
}

body.dark {
  color: #f1f1f1 !important;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  color: #212529;
}

body.dark .main-content {
  color: #f1f1f1;
  background-color: #121212;
}

/* Dropdown Dark Mode */
body.dark .form-select {
    background-color: #1e1e1e;
    color: #f1f1f1;
    border: 1px solid #444;
}

body.dark .form-select option {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

/* Dropdown Light Mode */
body.light .form-select {
    background-color: #fff;
    color: #212529;
    border: 1px solid #ccc;
}

body.light .form-select option {
    background-color: #fff;
    color: #212529;
}

body.dark .comparison-table {
    background-color: #1e1e1e;
    color: #f1f1f1;
    border-color: #444;
}

body.dark .comparison-table th,
body.dark .comparison-table td {
    border-color: #444;
    color: #f1f1f1;
}

.best-spec {
    background-color: #8cffc9 !important;
    color: #fff;
    font-weight: bold;
}

.table-responsive {
    max-height: 500px; /* or whatever fits your page */
    overflow-y: auto;
    overflow-x: auto;
}

